<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeGotKicks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WeGotKicks.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow barrita">
            <div class="container-fluid nav-logo"><img src="/Images/logo-nav.png" alt="Descripción_de_la_imagen">


                <a style="font-size:larger; font-weight:bold; color:navy;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="margin-right: 20px;" class="nav-link text-dark item-nav" asp-area="" asp-controller="Home" asp-action="Index">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a style="margin-right: 20px;" class="nav-link text-dark item-nav" asp-area="" asp-controller="Home" asp-action="Privacy">NOSOTROS</a>
                        </li>
                        <li class="nav-item">
                            <a style="margin-right: 20px;" class="nav-link text-dark item-nav" asp-area="" asp-controller="Contacto"asp-action="Index">CONTÁCTANOS</a>
                        </li>
                        <li class="nav-item">
                            <a style="margin-right: 20px;" class="nav-link text-dark item-nav" asp-area="" asp-controller="Catalogo"asp-action="Index">CATÁLOGO</a>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Catalogo" asp-action="Index"> 
                                <div class="caja-buscar_container">
                                    <input class="cajaBuscar" type="text" name="searchString"><input class="btnBuscar" type="submit" value="Buscar">
                                </div>
                                
                            </form>
                        </li>
                        

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <footer class="border-top footer text-muted" style="color: rgb(23, 4, 4);">
  <div class="container text-center">
    &copy; 2023 - <strong>WeGotKicks</strong> - <a asp-area="" asp-controller="Home" asp-action="Privacy"><strong>Nosotros</strong></a> - <a>Todos los derechos reservados - USMP - FIA - Escuela Profesional de Computación y Sistemas</a>
  </div>
</footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
