@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] WEGOTKICKS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEGOTKICKS.styles.css" asp-append-version="true" />
</head>


@if (SignInManager.IsSignedIn(User))
{
    IdentityUser myidentity = await Task.Run(() => UserManager.GetUserAsync(User));
    var roles = await Task.Run(() => UserManager.GetRolesAsync(myidentity));

    @if (roles.Contains("Admin"))
    {
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link">
                    <i style="font-size:5px; color: white;" class="fa">&#xf111;</i>
                </a>
            </li>
            <li class="nav-item">
                <div class="dropdown" style="outline: 0;">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false"
                style="font-family: 'Rajdhani', sans-serif; font-size: 17px; color: #000000; font-weight: bold;">
                        ADMIN
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="background-color: #000000;">
                        <li><a style="font-family: 'Rajdhani', sans-serif; font-size: 15px; color: #ffffff;" class="nav-link"
                        asp-area="" asp-controller="Producto" asp-action="Index"><strong>Productos</strong></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a style="font-family: 'Rajdhani', sans-serif; font-size: 15px; color: #ffffff;" class="nav-link"
                        asp-area="" asp-controller="Pago" asp-action="Index"><strong>Pagos</strong></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a style="font-family: 'Rajdhani', sans-serif; font-size: 15px; color: #ffffff;" class="nav-link"
                        asp-area="" asp-controller="Pedido" asp-action="Index"><strong>Pedidos</strong></a></li>
                    </ul>
                </div>
            </li>

        </ul>
    }

}