@model WeGotKicks.Models.Pedido
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/pedido.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body class="cuerpo">

    <div class="card" style="border-radius: 30px; padding: 0 1rem; border: 3px #E38B29 solid;">
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p class="card-title p-titulo">Crear Pedido</p>
                <div class="form-group">
                    <label asp-for="UserID" class="control-label p-texto"></label>
                    <input asp-for="UserID" class="form-control"
                        style="border-radius: 30px; border: 1px #E38B29 solid; margin-top: 5px; padding-left: 15px; background-color: #F3E0B5;" />
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Total" class="control-label p-texto"></label>
                    <input asp-for="Total" class="form-control"
                        style="border-radius: 30px; border: 1px #E38B29 solid; margin-top: 5px; padding-left: 15px; background-color: #F3E0B5;" />
                    <span asp-validation-for="Total" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label p-texto"></label>
                    <input asp-for="Status" class="form-control"
                        style="border-radius: 30px; border: 1px #E38B29 solid; margin: 5px 0 25px; padding-left: 15px; background-color: #F3E0B5;" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <hr class="linea">
                <div class="form-group" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" value="Create" class="btn"
                                style="background-color: #E38B29; border-radius: 30px; 
                                width: 100%; color: white; font-family: 'Rajdhani', sans-serif; font-size: 18px; font-weight: bold;">
                                
                        </div>
                        <div class="col-6">
                            <a asp-action="Index" class="btn"
                                style="background-color: #F3E0B5; border-radius: 30px; 
                                width: 100%; color: #444444; font-family: 'Rajdhani', sans-serif; font-size: 18px; font-weight: bold;">
                                Regresar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
<script src="https://kit.fontawesome.com/42be4397d3.js" crossorigin="anonymous"></script>

</html>