@model WeGotKicks.Models.Pago
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="~/css/pedido.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="contenedor">

    <div class="card-container">

        <div class="front">
            <div class="image">
                <img src="/Images/chip.png" alt="">
                <img src="/Images/visa.png" alt="">
            </div>
            <div class="card-number-box">################</div>
            <div class="flexbox">
                <div class="box">
                    <span>card holder</span>
                    <div class="card-holder-name">full name</div>
                </div>
                <div class="box">
                    <span>expires</span>
                    <div class="expiration">
                        <span class="exp-date">mm/yy</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="back">
            <div class="stripe"></div>
            <div class="box">
                <span>cvv</span>
                <div class="cvv-box"></div>
                <img src="image/visa.png" alt="">
            </div>
        </div>

    </div>

    

    <form asp-controller="Pago" asp-action="Pagar">
        <input type="hidden" asp-for="UserID" />

        <div class="row">
            <div class="col col-md-7">
                <div class="inputBox form-group">
                    <h4>El total a pagar es de:</h4>
                            @{
            var currencies = new Dictionary<string, string>
            {
                {"AED", "United Arab Emirates dirham"},
                {"AFN", "Afghan Afghani"},
                {"ALL", "Albanian Lek"},
                {"AMD", "Armenian Dram"},
                {"ANG", "Netherlands Antillean Guilder"},
                {"AOA", "Angolan Kwanza"},
                {"ARS", "Argentine Peso"},
                {"AUD", "Australian Dollar"},
                {"AWG", "Aruban Florin"},
                {"AZN", "Azerbaijani Manat"},
                {"BAM", "Bosnia-Herzegovina Convertible Mark"},
                {"BBD", "Barbadian Dollar"},
                {"BDT", "Bangladeshi Taka"},
                {"BGN", "Bulgarian Lev"},
                {"BHD", "Bahraini Dinar"},
                {"BIF", "Burundian Franc"},
                {"BMD", "Bermudian Dollar"},
                {"BND", "Brunei Dollar"},
                {"BOB", "Bolivian Boliviano"},
                {"BRL", "Brazilian Real"},
                {"BSD", "Bahamian Dollar"},
                {"BTC", "Bitcoin"},
                {"BTN", "Bhutanese Ngultrum"},
                {"BTS", "BitShares"},
                {"BWP", "Botswanan Pula"},
                {"BYN", "Belarusian Ruble"},
                {"BZD", "Belize Dollar"},
                {"CAD", "Canadian Dollar"},
                {"CDF", "Congolese Franc"},
                {"CHF", "Swiss Franc"},
                {"CLF", "Chilean Unit of Account (UF)"},
                {"CLP", "Chilean Peso"},
                {"CNH", "Chinese Yuan Renminbi (Offshore)"},
                {"CNY", "Chinese Yuan Renminbi"},
                {"COP", "Colombian Peso"},
                {"CRC", "Costa Rican Colón"},
                {"CUC", "Cuban Convertible Peso"},
                {"CUP", "Cuban Peso"},
                {"CVE", "Cape Verdean Escudo"},
                {"CZK", "Czech Republic Koruna"},
                {"DASH", "Dash"},
                {"DJF", "Djiboutian Franc"},
                {"DKK", "Danish Krone"},
                {"DOP", "Dominican Peso"},
                {"DOGE", "DogeCoin"},
                {"DZD", "Algerian Dinar"},
                {"EGP", "Egyptian Pound"},
                {"ERN", "Eritrean Nakfa"},
                {"ETB", "Ethiopian Birr"},
                {"ETH", "Ethereum"},
                {"EUR", "Euro"},
                {"FJD", "Fijian Dollar"},
                {"FKP", "Falkland Islands Pound"},
                {"GBP", "British Pound Sterling"},
                {"GEL", "Georgian lari"},
                {"GGP", "Guernsey Pound"},
                {"GHS", "Ghanaian Cedi"},
                {"GIP", "Gibraltar Pound"},
                {"GMD", "Gambian Dalasi"},
                {"GNF", "Guinean Franc"},
                {"GTQ", "Guatemalan Quetzal"},
                {"GYD", "Guyanese Dollar"},
                {"HKD", "Hong Kong Dollar"},
                {"HNL", "Honduran Lempira"},
                {"HRK", "Croatian Kuna"},
                {"HTG", "Haitian Gourde"},
                {"HUF", "Hungarian Forint"},
                {"IDR", "Indonesian Rupiah"},
                {"ILS", "Israeli New Sheqel"},
                {"IMP", "Manx pound"},
                {"INR", "Indian Rupee"},
                {"IQD", "Iraqi Dinar"},
                {"IRR", "Iranian Rial"},
                {"ISK", "Icelandic Króna"},
                {"JEP", "Jersey Pound"},
                {"JMD", "Jamaican Dollar"},
                {"JOD", "Jordanian Dinar"},
                {"JPY", "Japanese Yen"},
                {"KES", "Kenyan Shilling"},
                {"KGS", "Kyrgystani Som"},
                {"KHR", "Cambodian Riel"},
                {"KMF", "Comorian Franc"},
                {"KPW", "North Korean Won"},
                {"KRW", "South Korean Won"},
                {"KWD", "Kuwaiti Dinar"},
                {"KYD", "Cayman Islands Dollar"},
                {"KZT", "Kazakhstani Tenge"},
                {"LAK", "Laotian Kip"},
                {"LBP", "Lebanese Pound"},
                {"LKR", "Sri Lankan Rupee"},
                {"LRD", "Liberian Dollar"},
                {"LTC", "LiteCoin"},
                {"LSL", "Lesotho Loti"},
                {"LYD", "Libyan Dinar"},
                {"MAD", "Moroccan Dirham"},
                {"MDL", "Moldovan Leu"},
                {"MGA", "Malagasy Ariary"},
                {"MKD", "Macedonian Denar"},
                {"MMK", "Myanma Kyat"},
                {"MNT", "Mongolian Tugrik"},
                {"MOP", "Macanese Pataca"},
                {"MRU", "Mauritanian Ouguiya"},
                {"MUR", "Mauritian Rupee"},
                {"MVR", "Maldivian Rufiyaa"},
                {"MWK", "Malawian Kwacha"},
                {"MXN", "Mexican Peso"},
                {"MYR", "Malaysian Ringgit"},
                {"MZN", "Mozambican Metical"},
                {"NAD", "Namibian Dollar"},
                {"NGN", "Nigerian Naira"},
                {"NIO", "Nicaraguan Córdoba"},
                {"NOK", "Norwegian Krone"},
                {"NPR", "Nepalese Rupee"},
                {"NZD", "New Zealand Dollar"},
                {"OMR", "Omani Rial"},
                {"PAB", "Panamanian Balboa"},
                {"PEN", "Peruvian Nuevo Sol"},
                {"PGK", "Papua New Guinean Kina"},
                {"PHP", "Philippine Peso"},
                {"PKR", "Pakistani Rupee"},
                {"PLN", "Polish Zloty"},
                {"PYG", "Paraguayan Guarani"},
                {"QAR", "Qatari Rial"},
                {"RON", "Romanian Leu"},
                {"RSD", "Serbian Dinar"},
                {"RUB", "Russian Ruble"},
                {"RWF", "Rwandan Franc"},
                {"SAR", "Saudi Riyal"},
                {"SBD", "Solomon Islands Dollar"},
                {"SCR", "Seychellois Rupee"},
                {"SDG", "Sudanese Pound"},
                {"SEK", "Swedish Krona"},
                {"SGD", "Singapore Dollar"},
                {"SHP", "Saint Helena Pound"},
                {"SLL", "Sierra Leonean Leone"},
                {"SOS", "Somali Shilling"},
                {"SRD", "Surinamese Dollar"},
                {"SSP", "South Sudanese Pound"},
                {"STD", "São Tomé and Príncipe Dobra (pre-2018)"},
                {"STN", "São Tomé and Príncipe Dobra"},
                {"SVC", "Salvadoran Colón"},
                {"SYP", "Syrian Pound"},
                {"SZL", "Swazi Lilangeni"},
                {"THB", "Thai Baht"},
                {"TJS", "Tajikistani Somoni"},
                {"TMT", "Turkmenistani Manat"},
                {"TND", "Tunisian Dinar"},
                {"TOP", "Tongan Pa’anga"},
                {"TRY", "Turkish Lira"},
                {"TTD", "Trinidad and Tobago Dollar"},
                {"TWD", "New Taiwan Dollar"},
                {"TZS", "Tanzanian Shilling"},
                {"UAH", "Ukrainian Hryvnia"},
                {"UGX", "Ugandan Shilling"},
                {"USD", "US Dollar"},
                {"UYU", "Uruguayan Peso"},
                {"UZS", "Uzbekistan Som"},
                {"VES", "Venezuelan Bolívar Soberano"},
                {"VND", "Vietnamese Dong"},
                {"VUV", "Vanuatu Vatu"},
                {"WST", "Samoan Tala"},
                {"XAF", "CFA Franc BEAC"},
                {"XCD", "East Caribbean Dollar"},
                {"XDR", "Special Drawing Rights"},
                {"XOF", "CFA Franc BCEAO"},
                {"XPF", "CFP Franc"},
                {"YER", "Yemeni Rial"},
                {"ZAR", "South African Rand"},
                {"ZMW", "Zambian Kwacha"},
                {"ZWL", "Zimbabwean Dollar"},
                {"XAG", "Silver Ounce"},
                {"XAU", "Gold Ounce"},
                {"XPD", "Palladium Ounce"},
                {"XPT", "Platinum Ounce"}
            };
        }

        @{
            var selectedCurrency = "";
        }

        @Html.DropDownList("currency", new SelectList(currencies, "Key", "Value", selectedCurrency), "Select Currency", new { @class = "form-control", onchange = $"sendRequest(this.options[this.selectedIndex].value,{@Model.MontoTotal})" })
   
                </div>
            </div>

            <div class="col col-md-5">
                <p>@Model.MontoTotal</p>
                <p>@ViewBag.montoTransformado</p>
                
                @* //<input asp-for="MontoTotal" data-thousands="," data-decimal="."
                    style="border: none;font-size: 40px;text-align: center;width: 150px;"/> *@
            </div>
        </div>

        



        <div class="inputBox form-group">
            <label asp-for="NumeroTarjeta" class="control-label p-texto">Numero de tarjeta</label>
          <input asp-for="NumeroTarjeta" class="form-control card-number-input" data-inputmask="'mask': '9999-9999-9999-9999'"/>
        </div>
        <div class="inputBox form-group">
            <label asp-for="NombreTarjeta" class="control-label p-texto">Nombre del Titular</label>
          <input asp-for="NombreTarjeta" class="form-control card-holder-input"/>
        </div>
        <div class="flexbox">
            <div class="inputBox">
                <label asp-for="DueDateYYMM" class="control-label p-texto">Mes/Año</label>
          <input asp-for="DueDateYYMM" class="form-control date-input" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'"/>
            </div>

            <div class="inputBox form-group">
                <label asp-for="Cvv" class="control-label p-texto">CVV</label>
                <input asp-for="Cvv" class="form-control cvv-input" data-inputmask="'mask': '999', 'placeholder': '999'"/>
            </div>
        </div>
        
        <a asp-controller="Proforma" asp-action="Index" class="btn submit-btn">Regresar al Carrito</a>
        <button type="submit" class="btn submit-btn">PAGAR</button>
    </form>

</div> 
<script>

document.querySelector('.card-number-input').oninput = () =>{
    document.querySelector('.card-number-box').innerText = document.querySelector('.card-number-input').value;
}

document.querySelector('.card-holder-input').oninput = () =>{
    document.querySelector('.card-holder-name').innerText = document.querySelector('.card-holder-input').value;
}

document.querySelector('.date-input').oninput = () =>{
    document.querySelector('.exp-date').innerText = document.querySelector('.date-input').value;
}

document.querySelector('.cvv-input').onmouseenter = () =>{
    document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(-180deg)';
    document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(0deg)';
}

document.querySelector('.cvv-input').onmouseleave = () =>{
    document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(0deg)';
    document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(180deg)';
}

document.querySelector('.cvv-input').oninput = () =>{
    document.querySelector('.cvv-box').innerText = document.querySelector('.cvv-input').value;
}

</script>
</body>



<script src="https://kit.fontawesome.com/42be4397d3.js" crossorigin="anonymous"></script>

</html>