@model WeGotKicks.Models.Pago
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="~/css/pedido.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="contenedor">

    <div class="card-container">

        <div class="front">
            <div class="image">
                <img src="/Images/chip.png" alt="">
                <img src="/Images/visa.png" alt="">
            </div>
            <div class="card-number-box">################</div>
            <div class="flexbox">
                <div class="box">
                    <span>card holder</span>
                    <div class="card-holder-name">full name</div>
                </div>
                <div class="box">
                    <span>expires</span>
                    <div class="expiration">
                        <span class="exp-date">mm/yy</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="back">
            <div class="stripe"></div>
            <div class="box">
                <span>cvv</span>
                <div class="cvv-box"></div>
                <img src="image/visa.png" alt="">
            </div>
        </div>

    </div>

    

    <form asp-controller="Pago" asp-action="Pagar">
        <input type="hidden" asp-for="UserID" />

        <div class="row">
            <div class="col col-md-7">
                <div class="inputBox form-group">
                    <h4>El total a pagar es de:</h4>
                    
                </div>
            </div>

            <div class="col col-md-5">
                
                <input asp-for="MontoTotal" data-thousands="," data-decimal="."
                    style="border: none;font-size: 40px;text-align: center;width: 150px;"/>
            </div>
        </div>

        



        <div class="inputBox form-group">
            <label asp-for="NumeroTarjeta" class="control-label p-texto">Numero de tarjeta</label>
          <input asp-for="NumeroTarjeta" class="form-control card-number-input" data-inputmask="'mask': '9999-9999-9999-9999'"/>
        </div>
        <div class="inputBox form-group">
            <label asp-for="NombreTarjeta" class="control-label p-texto">Nombre del Titular</label>
          <input asp-for="NombreTarjeta" class="form-control card-holder-input"/>
        </div>
        <div class="flexbox">
            <div class="inputBox">
                <label asp-for="DueDateYYMM" class="control-label p-texto">Mes/Año</label>
          <input asp-for="DueDateYYMM" class="form-control date-input" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'"/>
            </div>

            <div class="inputBox form-group">
                <label asp-for="Cvv" class="control-label p-texto">CVV</label>
                <input asp-for="Cvv" class="form-control cvv-input" data-inputmask="'mask': '999', 'placeholder': '999'"/>
            </div>
        </div>
        
        <a asp-controller="Proforma" asp-action="Index" class="btn submit-btn">Regresar al Carrito</a>
        <button type="submit" class="btn submit-btn">PAGAR</button>
    </form>

</div> 
<script>

document.querySelector('.card-number-input').oninput = () =>{
    document.querySelector('.card-number-box').innerText = document.querySelector('.card-number-input').value;
}

document.querySelector('.card-holder-input').oninput = () =>{
    document.querySelector('.card-holder-name').innerText = document.querySelector('.card-holder-input').value;
}

document.querySelector('.date-input').oninput = () =>{
    document.querySelector('.exp-date').innerText = document.querySelector('.date-input').value;
}

document.querySelector('.cvv-input').onmouseenter = () =>{
    document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(-180deg)';
    document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(0deg)';
}

document.querySelector('.cvv-input').onmouseleave = () =>{
    document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(0deg)';
    document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(180deg)';
}

document.querySelector('.cvv-input').oninput = () =>{
    document.querySelector('.cvv-box').innerText = document.querySelector('.cvv-input').value;
}

</script>
</body>



<script src="https://kit.fontawesome.com/42be4397d3.js" crossorigin="anonymous"></script>

</html>