<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css" asp-append-version="true">
    <title>Document</title>
</head>

<body>
    @{
        ViewData["Title"] = "Home Page";
    }
    
    <div class="container-fluid">

        <div class="row inicio">

            <div class="col col-md-1"></div>
            <div class="col-12 col-md-5 col-sm-12">
                
                    <img class="img-fluid" src="/images/wegotkicks.png">
                    
                    <div class="row mt-4 mb-4">
                        <div class="col col-12 col-sm-6 col-md-6 mb-3 mt-1">
                            <button class="btn btnInicio"><a role="button" asp-area="" asp-controller="Home" asp-action="Privacy">Conócenos</a></button>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 mb- mt-1">
                            <button class="btn btnInicio"><a role="button" href="#novedades">Novedades</a></button>
                        </div>
                    </div>
                
            </div>
            <div class="col col-md-6">
            </div>

        </div>
    </div>

    <div id="novedades" class="container-fluid novedades-container">

        <div class="row row-novedades mb-4">
            <div class="col col-md-4 mt-2"><hr></div>
            <div class="col col-md-4 mt-2"><h1>NOVEDADES</h1></div>
            <div class="col col-md-4 mt-2"><hr></div>
        </div>

        <div class="row mt-4">
            <div class="col col-12 col-sm-12 col-md-2 mt-2 mb-2"></div>

            <div class="col col-12 col-sm-6 col-md-2 mt-2 mb-2">
                <div class="novedad-container">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="/images/zapa1.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>ADIDAS ORIGINALS</p>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col col-12 col-sm-6 col-md-2 mt-2 mb-2">
                <div class="novedad-container">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="/images/zapa2.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>NEW BALANCE</p>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="col col-12 col-sm-6 col-md-2 mt-2 mb-2">
                <div class="novedad-container">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="/images/zapa3.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>ADIDAS ORIGINALS</p>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col col-12 col-sm-6 col-md-2 mt-2 mb-2">
                <div class="novedad-container">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="/images/zapa4.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>REEBOK</p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col col-12 col-sm-12 col-md-2 mt-2 mb-2"></div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col col-12 col-sm-12 col-md-2 mt-2 mb-4"></div>

            <div class="col col-12 col-sm-6 col-md-2 mt-2 mb-4">
                <div class="novedad-container">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="/images/zapa5.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>ADIDAS ORIGINALS</p>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col col-12 col-sm-6 col-md-2 mt-2 mb-4">
                <div class="novedad-container">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="/images/zapa6.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>NEW BALANCE</p>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="col col-12 col-sm-6 col-md-2 mt-2 mb-4">
                <div class="novedad-container">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="/images/zapa7.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>REEBOK</p>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col col-12 col-sm-6 col-md-2 mt-2 mb-4">
                <div class="novedad-container">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="/images/zapa8.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>ADIDAS ORIGINAS</p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col col-12 col-sm-12 col-md-2 mt-2 mb-4"></div>
        </div>

    </div>

</body>

</html>