<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/local.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/nosotros.css">
    <title>Nosotros</title>
</head>

<body class="cuerpo" >

    <div class="nosotros" style="">

        <div style="text-align: center;">
        <div class="titulo">
            <p class="titulo-texto" style="font-size: 50px; font-weight: bold; font-family: 'Arial Black', sans-serif;color: white;padding-top: 20px;">Conócenos un Poco Más</p>
        </div>
    </div>
        
        <div class="mision-container">

            <div class="mision">
                <h2>NUESTRA MISIÓN</h2>
                <br>
                <p>"En We Got Kicks, nos comprometemos a proporcionar a nuestros clientes los modelos más exclusivos y deseados de las marcas más reconocidas del mercado. Nos esforzamos por ser líderes en el sector de zapatillas, brindando a nuestros clientes una experiencia de compra única, con un servicio al cliente excepcional y precios justos. Buscamos satisfacer las necesidades y deseos de nuestros clientes más exigentes, a la vez que fomentamos una cultura de estilo y moda en la comunidad".   
            </div>

            
        </div>
        
        <div class="vision-container">

            <div class="vision">
                <h2>NUESTRA VISIÓN</h2>
                <br>
                <p>"Nos esforzamos por ser una empresa en constante evolución, adaptándonos a las necesidades y demandas de nuestros clientes y de la sociedad, a la vez que nos comprometemos con la sostenibilidad y la responsabilidad social. Buscamos ser una fuente de inspiración para nuestros clientes, ofreciéndoles las últimas tendencias en zapatillas, fomentando una cultura de estilo y creatividad en la comunidad".</p> 
            </div>

            
            
        <div>

    </div>

    

    

    
</body>

</html>