<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/local.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/nosotros.css">
    <title>Nosotros</title>
</head>

<body>

    <div class="container-fluid hola" style="margin-bottom: 50px;">

        <div class="row my-2">
            <div class="col col-md-12" style="text-align: center;">
                <h1 style="color: white;font-size: 60px;">Conócenos un Poco Más</h1>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6" style="background-color: #f18f01;">
                <div class="row mt-4">
                    <div class="col col-md-12" style="text-align: center;">
                        <h3>NUESTRA MISIÓN</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-12" style="text-align: center;">
                        <h2>En We Got Kicks, nos comprometemos a proporcionar a nuestros clientes los modelos más exclusivos y deseados de las marcas más reconocidas del mercado. Nos esforzamos por ser líderes en el sector de zapatillas, brindando a nuestros clientes una experiencia de compra única, con un servicio al cliente excepcional y precios justos. Buscamos satisfacer las necesidades y deseos de nuestros clientes más exigentes, a la vez que fomentamos una cultura de estilo y moda en la comunidad".</h2>
                    </div>
                </div>

            </div>
            <div class="col col-md-6" style="padding: 0px;">
                <div class="div imagen">
                    <img src="/images/fondo1a.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6" style="padding: 0px;">
                <div class="div imagen" style="background-color: #048ba8;padding: 25px">
                    <img src="/images/fondo2a.jpeg" alt="">
                </div>
            </div>
            <div class="col col-md-6" style="background-color: #048ba8;">
                <div class="row mt-4">
                    <div class="col col-md-12" style="text-align: center;">
                        <h3>NUESTRA VISIÓN</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-12" style="text-align: center;">
                        <h2>"Nos esforzamos por ser una empresa en constante evolución, adaptándonos a las necesidades y demandas de nuestros clientes y de la sociedad, a la vez que nos comprometemos con la sostenibilidad y la responsabilidad social. Buscamos ser una fuente de inspiración para nuestros clientes, ofreciéndoles las últimas tendencias en zapatillas, fomentando una cultura de estilo y creatividad en la comunidad".</h2>
                    </div>
                </div>

            </div> 
        </div>
    </div>
</body>

</html>