<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/local.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
    <title>Nosotros</title>
</head>

<body class="cuerpo" style="background: linear-gradient(to bottom, #007bff, #c7c7cc);">
    <div style="text-align: center;">
        <div class="titulo">
            <p class="titulo-texto" style="font-size: 1.5em; font-weight: bold; font-family: 'Arial Black', sans-serif;">Conócenos un Poco Más</p>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="card text-center" style="border-radius: 20px; background-color: #a9cdff; margin-bottom: 100px;">
                    <img src="/images/gatofondo.jpg" class="card-img-top imagen"
                        style="border-radius: 20px 20px 0px 0px; width: 50%; display: block; margin: 0 auto;">

                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                                        style="background-color: #617ef1; color: white; font-family: 'Rajdhani', sans-serif; 
                                        font-size: 18px; font-weight: bold;">
                                        NUESTRA MISIÓN
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="background-color: #617ef1;">
                                        <p style="font-family: 'Rajdhani', sans-serif; font-size: 17px; color: white;">
                                           <strong>"En We Got Kicks, nos comprometemos a proporcionar a nuestros clientes los modelos más exclusivos y deseados de las marcas más reconocidas del mercado. Nos esforzamos por ser líderes en el sector de zapatillas, brindando a nuestros clientes una experiencia de compra única, con un servicio al cliente excepcional y precios justos. Buscamos satisfacer las necesidades y deseos de nuestros clientes más exigentes, a la vez que fomentamos una cultura de estilo y moda en la comunidad".</strong> 
                                            <br><br>
                                            <strong>"Nuestro objetivo es convertirnos en la opción número uno para aquellos amantes de las zapatillas que buscan encontrar los modelos más difíciles de conseguir y las ediciones limitadas más codiciadas"</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="card text-center" style="border-radius: 20px; background-color: #a9cdff; margin-bottom: 100px;">
                    <img src="/images/gatofondo1.jpg" class="card-img-top imagen"
                        style="border-radius: 20px 20px 0px 0px; width: 55%; display: block; margin: 0 auto;">
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                        style="background-color: #617ef1; color: white; font-family: 'Rajdhani', sans-serif; 
                                        font-size: 18px; font-weight: bold;">
                                        NUESTRA VISIÓN
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="background-color: #617ef1;">
                                        <p style="font-family: 'Rajdhani', sans-serif; font-size: 17px; color: white;">
                                            <strong>"Nos esforzamos por ser una empresa en constante evolución, adaptándonos a las necesidades y demandas de nuestros clientes y de la sociedad, a la vez que nos comprometemos con la sostenibilidad y la responsabilidad social. Buscamos ser una fuente de inspiración para nuestros clientes, ofreciéndoles las últimas tendencias en zapatillas y en moda, y fomentando una cultura de estilo y creatividad en la comunidad".</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>