.contenedor-total{
    height: 87vh;
    margin-bottom: 50px;
    color: white;
}

.parte-imagen{
    background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(2, 2, 2, 0.556)), url(/images/fondoLogin.jpg);
    background-size: cover;
    background-position: right;
}

.parte-login{
    background: linear-gradient(180deg, rgba(4,139,168,1) 0%, rgba(46,64,87,1) 100%);
}

#login-submit{
    background-color: #f18f01;
    width: 100px;
    color: aliceblue;
    font-weight: 600;
}

#login-submit:hover{
    background-color: #ff9a02;
    color: aliceblue;
}

#forgot-password{
    text-decoration: none;
    color: white;
}

#newUser{
    text-decoration: none;
    color: white;
}