body {
    overflow-y: hidden;
}

.nosotros {

    height: 80vh;
    width: 100vw;
    background: #2f2d2e;
    margin: 0px;
    position: relative;
    
    
}

.mision-container {

    position: absolute;
    height: 100%;
    width: 50vw;
    left: 0;
    margin: 20px;
    padding: 20px;

}

.vision-container {

    position: absolute;
    height: 100%;
    width: 50vw;
    right: 0;
    margin: 20px;
    padding: 20px;
}

.mision {

    margin: 10% 20px;
    padding: 20px;
    color: white;


}

.vision {

    margin: 10% 20px;
    padding: 20px;
    color: white;
}



div p {

    margin: 0px;
    font-size: 25px;
}